@import './globals..scss';




.footer{
  padding: 50px 8%;

  h3{

    text-transform: lowercase;
    font-size: 25px;
    font-weight: bold;

    &::first-letter{
      text-transform: uppercase
    }
  }

  ul{
    margin-top: 20px;
    padding: 0;

    li{
      margin-bottom: 20px;
      font-size: 18px;

      &:hover{
        color: $color-blue;
      }
    }
  }

  form{
    margin-top: 20px;

    input{
      margin: 10px 0;
    }
  }
}

.footer-1{
  @include flex-1(row,space-between);
  flex-wrap: wrap;
  padding: 0 8% 20px 8%;
  background: #e9edf0;
  border-top: 1px solid silver;

  div{
    text-align: center;
    
    div{
      font-size: 50px;
      
    }
  }
}

.footer-2{
    @include flex-1(row,space-between);
    background: $color-blue;
    color: white;
    height: 90px;
    padding: 0 8%;

    h6{
      font-size: 16px;
      span{
        font-weight: bold;
        font-size: 18px;
      }
    }

    .reseau{
      width: 150px;
      @include flex-1(row,space-between);
      font-size: 25px;
    }
  }
  


@media screen and (max-width: 992px) {



  .footer-2{

    .reseau{
      flex-basis: 200px;
    }
  }
}
